.answer-options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top: 5%;
  }
  
  .answer-option {
    width: 40%;
    margin: 10px 0;
    padding: 10px;
    background-color: #08033f;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .fullBoton{
    width: 100%;
    background-color: rgb(36, 36, 138);
    border: none;
  }
  .btn-warning {
    background-color: yellow;
  }
  
  .btn-danger {
    background-color: red;
  }
  
  .btn-success {
    background-color: green;
  }