<div class="current-score animate__animated"
     [ngClass]="{'animate__wobble': animated=='animate__wobble'
                ,'animate__backInDown':animated=='animate__backInDown'}">
  Puntos actuales: {{ currentScore }}
</div>
<div class="table-responsive">
  <table class="table animate__animated animate__backInDown">
    <thead>
      <tr>
        <th>Nivel</th>
        <th>Puntos</th>
      </tr>
    </thead>
    <tbody>
      <tr class="animate__animated" *ngFor="let level of preguntaEstado; let i = index"[ngClass]="{'animate__flash':getColorEstado(i) === 'verde'}">
        <td [ngClass]="{
          'bg-success': getColorEstado(i) === 'verde',
          'bg-warning': getColorEstado(i) === 'amarillo',
          'bg-danger': getColorEstado(i) === 'rojo'
        }">{{ 15 - i }}</td>
        <td [ngClass]="{
          'bg-success': getColorEstado(i) === 'verde',
          'bg-warning': getColorEstado(i) === 'amarillo',
          'bg-danger': getColorEstado(i) === 'rojo'
        }">{{ (15 - i) * 100 }}</td>
      </tr>
    </tbody>
  </table>
</div>